doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    
    link(rel='stylesheet' href='css/uikit.min.css')
    link(rel='stylesheet', href='/css/main.css')
    
    script(src='/js/socket.io.js', type='text/javascript')
    script(src='/js/browser.js', type='text/javascript')
    script(src='/js/uikit.min.js', type='text/javascript')
    script(src='/js/uikit-icons.min.js', type='text/javascript')
  body
    div(uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky")
      nav(class="uk-navbar-container", uk-navbar, uk-sticky)
         div(class="uk-navbar-left")
           |logo
         div(class="uk-navbar-center")
           |mitte
         div(class="uk-navbar-right")
           span(id="notif_count", class="uk-badge", style="background-color:orange")
            |...
           div(id="notif_spinner", uk-spinner, style="visibility:hidden")
    block content