extends layout

block content
  - if(list.length > 0)
      table(class='uk-table uk-table-striped uk-table-hover')
        thead
          tr
            th Title
            th Date
            th Domain
        tbody(id='sites_list')
          each val in list
            tr
              td
                a(href=val.pagepath)=val.title
              td=val.saved
              td=val.domain
  - else
      div(class='uk-placeholder uk-text-center')
       | Es sind zurzeit keine Seiten archiviert