extends layout

block content
  - if(list.length > 0)
      table(class='uk-table uk-table-striped uk-table-hover uk-table-responsive')
        thead
          tr
            th Title
            th Date
            th Domain
            th Details
        tbody
          each val in list
            tr
              td
                - var pp = (val.pagepath.endsWith("/index.html") || val.pagepath.endsWith("\index.html")) ? (val.id + "/") : val.pagepath;
                a(href='/s/' + pp)=val.title
              td=(new Date(val.saved)).toString().replace(/\S+\s(\S+)\s(\d+)\s(\d+)\s.*/,'$2. $1 $3')
              td
                a(href='/site/' + val.domain)=val.domain
              td
                a(href='/details/' + val.id)
                 | Details
      - var count_label = "There " + (list.length === 1 ? "is":"are") + " " + list.length + " item" + (list.length === 1 ? "" : "s") + (((domain || "") === "") ? "." : " for this domain.")
      div(class='uk-text-center uk-margin-small uk-text-muted uk-text-small')=count_label
  - else
      div(class='uk-placeholder uk-text-center')
       | There are no archived sites.
       br
       a(href='/new')
          | Add a new site to your archive