extends layout

block content
  - if(list.length > 0)
      table(class='uk-table uk-table-striped uk-table-hover uk-table-responsive')
        thead
          tr
            th Title
            th Date
            th Domain
        tbody
          each val in list
            tr
              td
                a(href='/s/' + val.pagepath)=val.title
              td=val.saved
              td
                a(href='/site/' + val.domain)=val.domain
  - else
      div(class='uk-placeholder uk-text-center')
       | Es sind zurzeit keine Seiten archiviert